.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(75, 75, 75);
  }
  
  .link {
    cursor: pointer;
    margin: 0 10px;
    position: relative;

  }
  .links{
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .notSigned { text-shadow: 0 0 15px #fff;}
  
.userEmail{
  background: #5d5d5d;
  padding: 2px 11px 4px 11px;
border-radius: 5px ;
box-shadow: 2px 2px 0px  rgb(40, 40, 40);
border: 1px solid #242424;
}



  .title {
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
  }
  
  .input {
    background-color: transparent;
    border: none;
    color: var(--text);
  }
  
  .icons{
    display: flex;
    gap: 20px;
  }
  
  .avatar {
   
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
  }